body {
  margin: 0;
  padding: 0;
  background-color: #8b8b8b;
}

div.stage {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  -webkit-perspective: 500;
}

div.stage input {
  display: none;
}

div.stage input:checked + .cube {
  -webkit-transform: rotateX(-180deg);
}

div.stage div.cube {
  widows: 100vw;
  height: 100vh;
  position: relative;
  margin: 0 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -webkit-transform: translateZ(-50vh);
}

div.stage div.cube label {
  padding: 10px;
  font-weight: bold;
  background: #ffffff00;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

div.stage div.cube div {
  width: 100vw;
  height: 100vh;
  border: 0px solid white;
  box-sizing: border-box;
  text-align: center;
  line-height: 198px;
  position: absolute;
  background-color: rgba(139, 139, 139, 0.7);
}

div.stage div.cube div.front {
  top: 0;
  left: 0;
  background-color: #7fdbb6;
  -webkit-transform: translateZ(50vh);
}

div.stage div.cube div.content {
  background: #ffffff00;
}

div.stage div.cube div.content figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

div.stage div.cube div.content figure:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

div.stage div.cube div.back {
  top: 0;
  left: 0vw;
  background-color: #8b8b8b;
  background-image: url("../image/1523200849.gif");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotateX(180deg);
}

div.stage div.cube div.back .layered {
  background-color: rgba(139, 139, 139, 0.705);
}

div.stage div.cube div.left {
  top: 0;
  left: 50vw;
  -webkit-transform: rotateY(90deg);
}

div.stage div.cube div.right {
  top: 0;
  right: 0;
  -webkit-transform: rotateY(-90deg);
}

div.stage div.cube div.top {
  top: -50vh;
  left: 0;
  -webkit-transform: rotateX(90deg);
}

div.stage div.cube div.bottom {
  bottom: -50vh;
  left: 0;
  -webkit-transform: rotateX(-90deg);
}
