html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: rgb(255, 255, 255);
    background-color: rgb(139, 139, 139);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    &:visited{
        color: rgb(255, 255, 255);
    }
    &:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

div.stage{
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    -webkit-perspective: 500;
    input{
        display: none;
        &:checked +.cube{
            -webkit-transform: rotateX(-180deg);
        }
    }
    div.cube{
        widows: 100vw;
        height: 100vh;
        position: relative;
        margin: 0 0;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: all 1s;
        -webkit-transform: translateZ(-50vh);
        label{
            padding: 10px;
            font-weight: bold;
            background: #ffffff00;
            border-radius: 5px;
            cursor :pointer;
            transition: .5s;
        }
        div{
            width: 100vw;
            height: 100vh;
            border: 0px solid rgb(255, 255, 255);
            box-sizing: border-box;
            text-align: center;
            line-height: 100px;
            position: absolute;
            background-color: rgba(139, 139, 139, 0.7);
        }
        div.front{
            top: 0;
            left: 0;
            background-color: rgb(164, 233, 198);
            -webkit-transform: translateZ(50vh);
        }
        div.content{
            background: #ffffff00;
            figure img{
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            figure:hover img {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
              }
        }
        div.back{
            top: 0;
            left: 0vw;
            background-color: rgb(255, 255, 255);
            /*background-image: url("../image/1523200849.gif");*/
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-transform: rotateX(180deg);
            .layered{
                background-color: rgb(164, 233, 198);
            }
        }
        div.left{
            top: 0;
            left: 50vw;
            -webkit-transform:rotateY(90deg);
        }
        div.right{
            top: 0;
            right: 0;
            -webkit-transform:rotateY(-90deg);
        }
        div.top{
            top: -50vh;
            left: 0;
            -webkit-transform:rotateX(90deg);
        }
        div.bottom{
            bottom: -50vh;
            left: 0;
            -webkit-transform:rotateX(-90deg);
        }
    }
}